body {
    background-color: #fafafa;
    background-image: url("../images/background.jpeg");
    background-size: cover;
}

.col-md {
    border: 1px transparent;
    margin: 10px 50px 10px 50px;
    background-color: white;
}

img {
    margin: 40px;
}

